// Custom styles.
// 主页文章添加阴影效果
.post {
   margin-top: 0px;
   margin-bottom: 0px;
   padding: 25px;
   border-radius: 25px;
   -webkit-box-shadow: 0 0 5px rgb(97, 97, 97);
   -moz-box-shadow: 0 0 5px rgb(97, 97, 97);
}