[submodule "themes/next_v6/themes/next_v6/source/lib/jquery_lazyload"]
	path = themes/next_v6/themes/next_v6/source/lib/jquery_lazyload
	url = https://github.com/theme-next/theme-next-jquery-lazyload.git
